@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>;

<h2>Yum! Check out our totally tasty dishes!</h2>




<div class="container mt-4">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>

        @{
            foreach(Dish x in @Model)
            {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Chef.FirstName @x.Chef.LastName</td>
                    <td>@x.Tastiness</td>
                    <td>@x.Calories</td>
                </tr>
            }
        }

    </table>
</div>